body {margin: 0;
text-align: center;
font-family: 'Merriweather', serif;
color: #40514E;
}

h1 {
  font-size: 5.625em;
font-family: 'Licorice', cursive;
margin: 50px auto 0 auto;
color: #66BFBF;
line-height: 2;
}

h2 {font-family: 'Montserrat', sans-serif;
color: #66BFBF;
font-size: 2rem;
font-weight: normal;
}

h3 {font-family: 'Montserrat', sans-serif;
color: #11999E;}


.top-container {
  background-color: #EEF2FF;
  position: relative;
  padding-top: 100px;

}

.profile {
    padding:  50px;
}


.breakline {
  color: #EAF6F6;
  width: 4%;
  border-style: dotted none none none;
  border-width: 7px;
  padding-bottom: 60px;


}

.skill-row{
  width: 50%;
margin: 100px auto;
text-align: left;
line-height: 2
}

.python-img {
  width: 15%;
  float: right;
  margin-left: 30px;
}

.documents-img{
  width: 15%;
  float: left;
  margin-right: 30px;
}



.footer-link {
  color: #11999E;
  padding: 0 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.footer-link:hover {color: gold;}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 400px;
}

.bottom-container {
  padding-top: 50px;
  margin-top: 50px;
  background-color: #66BFBF;
}

.signature {
  color: white;
  margin-top: 3rem;
}

.just-give-up {
  margin: 50px;
}
